<?xml version='1.0' encoding='utf-8'?>
<widget id="air.pocketpenguins" android-versionCode="1400010" version="3.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Pocket Penguins</name>
    <description>
        Warning: Cute alert! An intimate view into our live African penguin exhibit, streaming in real-time. 
    </description>
    <author email="webcams@calacademy.org" href="https://www.calacademy.org">
        California Academy of Sciences
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="orientation" value="landscape" />
    <splash src="splash.png" />
    <icon src="icon.png" />
    <platform name="android">
        <icon height="48" qualifier="mdpi" src="icons/mdpi.png" width="48" />
        <icon height="72" qualifier="hdpi" src="icons/hdpi.png" width="72" />
        <icon height="96" qualifier="xhdpi" src="icons/xhdpi.png" width="96" />
        <icon height="144" qualifier="xxhdpi" src="icons/xxhdpi.png" width="144" />
        <icon height="192" qualifier="xxxhdpi" src="icons/xxxhdpi.png" width="192" />
    </platform>
    <engine name="android" spec="^6.2.3" />
    <engine name="browser" spec="^4.1.0" />
    <plugin name="cordova-plugin-fullscreen" spec="~1.1.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="^2.0.1" />
    <plugin name="cordova-plugin-insomnia" spec="^4.3.0" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.3" />
</widget>
